
/*index page*/
.home{
  height:100vh;
}

.home img{
  width:100%;
  margin:100px 0 0 0;
}
.home a{
  text-decoration: none;
  color:#fbff47;
}
.values{
  position:absolute;
  bottom:30%;
  left:0%;
  text-align:center;
  font-size:88px;
  font-weight: 500;
  letter-spacing: -5px;
  transition: all 0.5s ease ;
}

.values:hover{
  transform: scale(1.05) /*translateX(2%) */translateY(10%);
}
.published{
  font-family: 'HelveticaNeueBold';
  position:absolute;
  bottom:42%;
  left:25%;
  font-size:50px;
  font-weight: 700;
  color:#ff6338;
  line-height: 1.2;
}


/*front page banner*/
.published {
  font-weight: 400;
  font-size: 3.5em;
}

.published .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.published .marker {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 80%;
  width: 3px;
  background-color: #ff6338;
  transform-origin: 0 50%;
}

.published .marker1 { 
  top: 0; 
  left: 0;
}

.published .letter {
  display: inline-block;
  line-height: 2em;
}
